force-app/main/default/flows/BUP_Display_Actual_Money_By_Fiscal_Year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignValues1</name>
        <label>AssignValues1</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varTotalAmountReceivedIncomeBudgets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Income_Budgets.Total_Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Income_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues2</name>
        <label>AssignValues2</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varTotalAmountSpentExpenseBudgets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Expense_Budgets.Total_Amount_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Expense_Budgets</targetReference>
        </connector>
    </assignments>
    <description>The flow shows actual money in the system.</description>
    <dynamicChoiceSets>
        <name>FiscalYearGlobalSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fiscal_Year__c</picklistField>
        <picklistObject>Income_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Calculate Total amount of money left in the budget.</description>
        <name>netWorth</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalAmountReceivedIncomeBudgets} - {!varTotalAmountSpentExpenseBudgets}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>BUP_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BUP_Display Actual Money By Fiscal Year</label>
    <loops>
        <name>Loop_Expense_Budgets</name>
        <label>Loop Expense Budgets</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Expense_Budget_According_To_Fiscal_Year</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValues2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>system_debug</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Income_Budgets</name>
        <label>Loop Income Budgets</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Incomes_According_To_Fiscal_Year</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValues1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Expense_Budget_According_To_Fiscal_Year</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get All Expense Budgets records according to selected fiscal year in the first screen.</description>
        <name>Get_Expense_Budget_According_To_Fiscal_Year</name>
        <label>Get Expense Budget According To Fiscal Year</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Expense_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Fiscal_Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense_Budget__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Amount_Spent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All income Budgets records according to selected fiscal year in the first screen.</description>
        <name>Get_Incomes_According_To_Fiscal_Year</name>
        <label>Get Income Budget According To Fiscal Year</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Income_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Fiscal_Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Income_Budget__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Amount_Received__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Conditions_Screen</name>
        <label>Select Conditions Secreen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Incomes_According_To_Fiscal_Year</targetReference>
        </connector>
        <fields>
            <name>Choose_Fiscal_Year</name>
            <choiceReferences>FiscalYearGlobalSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Fiscal Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Calculate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>system_debug</name>
        <label>system.debug</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>systemDebug</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(218, 24, 24);&quot;&gt;SELECTED FISCAL YEAR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Choose_Fiscal_Year}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Income Received = {!varTotalAmountReceivedIncomeBudgets}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Amount Spent = {!varTotalAmountSpentExpenseBudgets}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(225, 16, 176);&quot;&gt;NET =&lt;/strong&gt;&lt;strong style=&quot;color: rgb(202, 28, 162);&quot;&gt; {!netWorth}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Conditions_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Record is created to bring Fiscal year Picklist Values which is a global picklist values.</description>
        <name>IncomeRecordToBringFiscalYearField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Income_Transaction__c</objectType>
    </variables>
    <variables>
        <name>varTotalAmountReceivedIncomeBudgets</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalAmountSpentExpenseBudgets</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
