force-app/main/default/flows/BUP_Short_Message_Producer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assign Amout as &quot;0&quot; if no payment is received</description>
        <name>Assign_Amount</name>
        <label>Assign Amount</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>LoopRecurring_Donations.Total_Amount_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>396</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>totalCount</name>
        <label>totalCount</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>totalRecordFound</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>total_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Total_Amount_is_NULL</name>
        <label>Total Amount is NULL</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Amount_Received_is_NULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecurring_Donations.Total_Amount_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRecurring_Donations.Total_Amount_Received__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Amount</targetReference>
            </connector>
            <label>Total Amount Received is NULL</label>
        </rules>
    </decisions>
    <description>Produce Short Messages, emails etc..</description>
    <environments>Default</environments>
    <interviewLabel>BUP_Short Message Producer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BUP_Short Message Producer</label>
    <loops>
        <description>Loop Recurring Donations to get each details.</description>
        <name>LoopRecurring_Donations</name>
        <label>LoopRecurring Donations</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>Recurring_Donations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Amount_is_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Of_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>total_Count</name>
        <label>total Count</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Recurring_Donations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>totalCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopRecurring_Donations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Recurring Donations</description>
        <name>Recurring_Donations</name>
        <label>Recurring Donations</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>total_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fiscal_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecurringDonationFieldSource.Fiscal_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recurring_Donation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Promised_Donation_Amount__c</queriedFields>
        <queriedFields>Total_Amount_Received__c</queriedFields>
        <queriedFields>Total_Amount_Left_to_Receive__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Of_Record</name>
        <label>End Of Record</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreen</name>
            <fieldText>&lt;p&gt;All Messages are displayed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>396</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopRecurring_Donations</targetReference>
        </connector>
        <fields>
            <name>InfoScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 20, 20); font-size: 16px;&quot;&gt;Gonderilecek Kisi {!LoopRecurring_Donations.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 20, 20); font-size: 16px;&quot;&gt;﻿COUNT : {!count} / {!totalRecordFound}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Değerli Buffalo UP Komunitesi üyesi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Rehberlik, diyalog ve topluluk faaliyetlerimizi sizin değerli katkılarınız sayesinde sürdürebiliyoruz. Verdiğiniz destek, bu çalışmaların devami için büyük bir önem taşıyor.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Taahhüt ettiğiniz miktarın  &lt;strong&gt;${!LoopRecurring_Donations.Total_Amount_Received__c} / &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;$&lt;/strong&gt;&lt;strong&gt;{!LoopRecurring_Donations.Promised_Donation_Amount__c} &lt;/strong&gt;bu ay ({!$Flow.CurrentDate}) itibari ile ödemiş oldunuz. Geriye kalan &lt;strong&gt;${!LoopRecurring_Donations.Total_Amount_Left_to_Receive__c}&lt;/strong&gt; zaman içinde tamamlanması, faaliyetlerimizin kesintisiz devamına büyük katkı sağlayacaktır.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ödemeler şu yollarla yapılabilir:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;- Zelle: &lt;strong&gt;info@buffaloup.org&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;- Nakit veya çek olarak, Buffalo UP &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Finance &lt;/span&gt; üyelerine ulaştırılabilir.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Yapmış olduğunuz ödemeler için teşekkür eder, devam eden desteğinizi memnuniyetle bekleriz.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Saygılarımızla,&lt;/p&gt;&lt;p&gt;Buffalo UP Finance &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Komunitesi&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Input_Screen</name>
        <label>User Input Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recurring_Donations</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Choose Fiscal Year &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RecurringDonationFieldSource.Fiscal_Year__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecurringDonationFieldSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <description>Keeps Total record number found in query</description>
        <name>totalRecordFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
