force-app/main/default/flows/Calculate_Total_Amount_Spent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Calculate_Total_Amount_Spent</name>
        <label>Calculate Total Amount Spent</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountSpent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopRelatedExpenses.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRelatedExpenses</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Calculate Total Amount Spent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Total Amount Spent</label>
    <loops>
        <name>loopRelatedExpenses</name>
        <label>loopRelatedExpenses</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_All_Related_Expenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Total_Amount_Spent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Budget_Income_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All related Expenses accoording to Budget_Income__c common id.</description>
        <name>get_All_Related_Expenses</name>
        <label>get All Related Expenses</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopRelatedExpenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expense_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Expense_Budget__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Budget_Income_Record</name>
        <label>Update Related Budget Income Record</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Expense_Budget__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Amount_Spent__c</field>
            <value>
                <elementReference>TotalAmountSpent</elementReference>
            </value>
        </inputAssignments>
        <object>Expense_Budget__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_All_Related_Expenses</targetReference>
        </connector>
        <object>Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAmountSpent</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
