force-app/main/default/flows/Update_Recurring_Donation_Totals_on_Transaction_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Calculate Total Paid through Transactions for Recurring Donations.</description>
        <name>Calculate_Total_Paid</name>
        <label>Calculate Total Paid</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTotalPaid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Transactions.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Transactions</targetReference>
        </connector>
    </assignments>
    <description>Updates the Total Paid field in Recurring Donation Object</description>
    <environments>Default</environments>
    <interviewLabel>Update Recurring Donation Totals on Transaction Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Recurring Donation Totals on Transaction Change</label>
    <loops>
        <name>Loop_Through_Transactions</name>
        <label>Loop Through Transactions</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>getAllTransactionsRelatedToRecurringDonation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Total_Paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Recurring_Donation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Take all Transactions related to Recurring Donation to make total calculation.</description>
        <name>getAllTransactionsRelatedToRecurringDonation</name>
        <label>getAllTransactionsRelatedToRecurringDonation</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelatedRecurringDonation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related Recurring Donation informations through transaction.</description>
        <name>getRelatedRecurringDonation</name>
        <label>getRelatedRecurringDonation</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllTransactionsRelatedToRecurringDonation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Recurring_Donation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recurring_Donations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Recurring_Donation</name>
        <label>Update Recurring Donation</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelatedRecurringDonation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Paid__c</field>
            <value>
                <elementReference>varTotalPaid</elementReference>
            </value>
        </inputAssignments>
        <object>Recurring_Donations__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelatedRecurringDonation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring Donation</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varReturnedRecurringDonationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recurring_Donations__c</objectType>
    </variables>
    <variables>
        <name>varTotalPaid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
